<h1>About the Coach</h1>

<h3>The coach has a temper. Be careful when you ask him questions...</h3>

<h4>If the message is I am going to work, the coach will answer "Great!"<br>
If the message has a question mark (?) at the end, the coach will answer "Silly question, get dressed and go to work!".<br>
Otherwise the coach will answer "I don't care, get dressed and go to work!"</h4>
<p><%= link_to "Back to home", root_path %></p>
